body{
    margin:0;
}

/* style header*/
#site_header{
    height: 175px;
    background-color: #6aa2f0;
    background-image: url('../img/pattern.png');
    background-position-x: 130px; 
}

#site_logo{
  width: 350px;
  margin-top: 70px;
  margin-left: 10px;
}